@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style1 {
    background-image: url(https://designresources.assets.yotako.io/9lhh2rewjorvl31p.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 375px;
    height: 208px;
    flex-direction: column
  }
  .style15 {
    margin-left: 22px;
    margin-top: 17px;
    width: 33px;
    height: 26px
  }
  .image1row1 {
    display: flex;
    margin-left: 48px;
    margin-top: 19px;
    width: 322px;
    height: 103px
  }
  .style14 {
    color: #fff;
    text-align: right;
    font-family: Oswald,serif;
    font-size: 1em;
    font-weight: 700;
    line-height: 29px;
    margin-left: 0;
    margin-top: 12px;
    width: 85px
  }
  .image1row1column0,
  .style10 {
    display: flex;
    flex-direction: column
  }
  .image1row1column0 {
    margin-left: 0;
    margin-top: 12px;
    width: 85px;
    height: 73px;
    justify-content: flex-end
  }
  .style10 {
    background-color: red;
    width: 27px;
    height: 15px;
    align-items: center;
    justify-content: center
  }
  .style11 {
    width: 6px;
    height: 6px
  }
  .image1row1column0row0 {
    display: flex;
    width: 79px;
    height: 15px
  }
  .style12,
  .style13 {
    text-align: right;
    font-family: 'Open Sans',serif
  }
  .style13 {
    color: rgba(255,255,255,.6);
    font-size: .25em;
    margin-left: 33px;
    margin-top: 3px;
    height: 4px
  }
  .style12 {
    color: #fff;
    font-size: .3125em;
    font-weight: 700;
    margin-left: 34px;
    margin-top: 10px;
    height: 3px
  }
  .image1row1column1 {
    display: flex;
    margin-left: 40px;
    width: 197px;
    height: 100%;
    align-self: stretch;
    flex-direction: column
  }
  .style3 {
    opacity: .2;
    margin-top: 0;
    width: 100%;
    height: 103px;
    align-self: stretch
  }
  .style2 {
    background-color: #fff;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,.3);
    display: flex;
    margin-left: 27px;
    margin-top: 3px;
    width: 127px;
    height: 95px;
    flex-direction: column
  }
  .style9 {
    background-color: #212121;
    opacity: .8;
    margin-top: 18px;
    width: 34px;
    height: 22px;
    align-self: center
  }
  .style5,
  .style8 {
    color: rgba(33,33,33,.8);
    text-align: right;
    font-family: 'Open Sans',serif
  }
  .style8 {
    align-self: center;
    font-size: .4375em;
    font-weight: 700;
    margin-top: 9px;
    height: 5px
  }
  .style5 {
    font-size: .3125em;
    font-weight: 600;
    margin-left: 29px;
    margin-top: 14px;
    height: 4px
  }
  .style4 {
    background-color: #212121;
    opacity: .8;
    margin-top: 3px;
    width: 71px;
    height: 1px;
    align-self: center
  }
  .style7 {
    color: rgba(42,42,42,.8);
    text-align: right;
    font-family: helvetica,serif;
    font-size: .3125em;
    margin-left: 29px;
    margin-top: 4px;
    height: 4px
  }
  .style6 {
    background-color: #212121;
    opacity: .8;
    margin-top: 2px;
    width: 71px;
    height: 1px;
    align-self: center
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style1 {
    background-image: url(https://designresources.assets.yotako.io/9lhh2rewjorvl31p.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 768px;
    height: 426px;
    flex-direction: column
  }
  .style15 {
    margin-left: 45px;
    margin-top: 35px;
    width: 68px;
    height: 53px
  }
  .image1row1 {
    display: flex;
    margin-left: 98px;
    margin-top: 39px;
    width: 659px;
    height: 211px
  }
  .style14 {
    color: #fff;
    text-align: right;
    font-family: Oswald,serif;
    font-size: 2.048em;
    font-weight: 700;
    line-height: 59px;
    margin-left: 0;
    margin-top: 25px;
    width: 174px
  }
  .image1row1column0,
  .style10 {
    display: flex;
    flex-direction: column
  }
  .image1row1column0 {
    margin-left: 0;
    margin-top: 25px;
    width: 174px;
    height: 150px;
    justify-content: flex-end
  }
  .style10 {
    background-color: red;
    width: 55px;
    height: 31px;
    align-items: center;
    justify-content: center
  }
  .style11 {
    width: 12px;
    height: 12px
  }
  .image1row1column0row0 {
    display: flex;
    width: 162px;
    height: 31px
  }
  .style12,
  .style13 {
    text-align: right;
    font-family: 'Open Sans',serif
  }
  .style13 {
    color: rgba(255,255,255,.6);
    font-size: .512em;
    margin-left: 68px;
    margin-top: 6px;
    height: 8px
  }
  .style12 {
    color: #fff;
    font-size: .64em;
    font-weight: 700;
    margin-left: 70px;
    margin-top: 20px;
    height: 6px
  }
  .image1row1column1 {
    display: flex;
    margin-left: 82px;
    width: 403px;
    height: 100%;
    align-self: stretch;
    flex-direction: column
  }
  .style3 {
    opacity: .2;
    margin-top: 0;
    width: 100%;
    height: 211px;
    align-self: stretch
  }
  .style2 {
    background-color: #fff;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,.3);
    display: flex;
    margin-left: 55px;
    margin-top: 6px;
    width: 260px;
    height: 195px;
    flex-direction: column
  }
  .style9 {
    background-color: #212121;
    opacity: .8;
    margin-top: 37px;
    width: 70px;
    height: 45px;
    align-self: center
  }
  .style5,
  .style8 {
    color: rgba(33,33,33,.8);
    text-align: right;
    font-family: 'Open Sans',serif
  }
  .style8 {
    align-self: center;
    font-size: .896em;
    font-weight: 700;
    margin-top: 18px;
    height: 10px
  }
  .style5 {
    font-size: .64em;
    font-weight: 600;
    margin-left: 59px;
    margin-top: 29px;
    height: 8px
  }
  .style4 {
    background-color: #212121;
    opacity: .8;
    margin-top: 6px;
    width: 145px;
    height: 2px;
    align-self: center
  }
  .style7 {
    color: rgba(42,42,42,.8);
    text-align: right;
    font-family: helvetica,serif;
    font-size: .64em;
    margin-left: 59px;
    margin-top: 8px;
    height: 8px
  }
  .style6 {
    background-color: #212121;
    opacity: .8;
    margin-top: 4px;
    width: 145px;
    height: 2px;
    align-self: center
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style1 {
    background-image: url(https://designresources.assets.yotako.io/9lhh2rewjorvl31p.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 920px;
    height: 510px;
    flex-direction: column
  }
  .style15 {
    margin-left: 54px;
    margin-top: 42px;
    width: 81px;
    height: 64px
  }
  .image1row1 {
    display: flex;
    margin-left: 118px;
    margin-top: 47px;
    width: 790px;
    height: 253px
  }
  .style14 {
    color: #fff;
    text-align: right;
    font-family: Oswald,serif;
    font-size: 2.453333333333333em;
    font-weight: 700;
    line-height: 71px;
    margin-left: 0;
    margin-top: 29px;
    width: 209px
  }
  .image1row1column0,
  .style10 {
    display: flex;
    flex-direction: column
  }
  .image1row1column0 {
    margin-left: 0;
    margin-top: 29px;
    width: 209px;
    height: 179px;
    justify-content: flex-end
  }
  .style10 {
    background-color: red;
    width: 66px;
    height: 37px;
    align-items: center;
    justify-content: center
  }
  .style11 {
    width: 15px;
    height: 15px
  }
  .image1row1column0row0 {
    display: flex;
    width: 194px;
    height: 37px
  }
  .style12,
  .style13 {
    text-align: right;
    font-family: 'Open Sans',serif
  }
  .style13 {
    color: rgba(255,255,255,.6);
    font-size: .6133333333333333em;
    margin-left: 81px;
    margin-top: 7px;
    height: 10px
  }
  .style12 {
    color: #fff;
    font-size: .7666666666666666em;
    font-weight: 700;
    margin-left: 83px;
    margin-top: 25px;
    height: 7px
  }
  .image1row1column1 {
    display: flex;
    margin-left: 98px;
    width: 483px;
    height: 100%;
    align-self: stretch;
    flex-direction: column
  }
  .style3 {
    opacity: .2;
    margin-top: 0;
    width: 100%;
    height: 253px;
    align-self: stretch
  }
  .style2 {
    background-color: #fff;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,.3);
    display: flex;
    margin-left: 66px;
    margin-top: 7px;
    width: 312px;
    height: 233px;
    flex-direction: column
  }
  .style9 {
    background-color: #212121;
    opacity: .8;
    margin-top: 44px;
    width: 83px;
    height: 54px;
    align-self: center
  }
  .style5,
  .style8 {
    color: rgba(33,33,33,.8);
    text-align: right;
    font-family: 'Open Sans',serif
  }
  .style8 {
    align-self: center;
    font-size: 1.0733333333333333em;
    font-weight: 700;
    margin-top: 22px;
    height: 12px
  }
  .style5 {
    font-size: .7666666666666666em;
    font-weight: 600;
    margin-left: 71px;
    margin-top: 34px;
    height: 10px
  }
  .style4 {
    background-color: #212121;
    opacity: .8;
    margin-top: 7px;
    width: 174px;
    height: 2px;
    align-self: center
  }
  .style7 {
    color: rgba(42,42,42,.8);
    text-align: right;
    font-family: helvetica,serif;
    font-size: .7666666666666666em;
    margin-left: 71px;
    margin-top: 10px;
    height: 10px
  }
  .style6 {
    background-color: #212121;
    opacity: .8;
    margin-top: 5px;
    width: 174px;
    height: 2px;
    align-self: center
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style1 {
    background-image: url(https://designresources.assets.yotako.io/9lhh2rewjorvl31p.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 1200px;
    height: 666px;
    flex-direction: column
  }
  .style15 {
    margin-left: 70px;
    margin-top: 54px;
    width: 106px;
    height: 83px
  }
  .image1row1 {
    display: flex;
    margin-left: 154px;
    margin-top: 61px;
    width: 1030px;
    height: 330px
  }
  .style14 {
    color: #fff;
    text-align: right;
    font-family: Oswald,serif;
    font-size: 3.2em;
    font-weight: 700;
    line-height: 93px;
    margin-left: 0;
    margin-top: 38px;
    width: 272px
  }
  .image1row1column0,
  .style10 {
    display: flex;
    flex-direction: column
  }
  .image1row1column0 {
    margin-left: 0;
    margin-top: 38px;
    width: 272px;
    height: 234px;
    justify-content: flex-end
  }
  .style10 {
    background-color: red;
    width: 86px;
    height: 48px;
    align-items: center;
    justify-content: center
  }
  .style11 {
    width: 19px;
    height: 19px
  }
  .image1row1column0row0 {
    display: flex;
    width: 253px;
    height: 48px
  }
  .style12,
  .style13 {
    text-align: right;
    font-family: 'Open Sans',serif
  }
  .style13 {
    color: rgba(255,255,255,.6);
    font-size: .8em;
    margin-left: 106px;
    margin-top: 10px;
    height: 13px
  }
  .style12 {
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    margin-left: 109px;
    margin-top: 32px;
    height: 10px
  }
  .image1row1column1 {
    display: flex;
    margin-left: 128px;
    width: 630px;
    height: 100%;
    align-self: stretch;
    flex-direction: column
  }
  .style3 {
    opacity: .2;
    margin-top: 0;
    width: 100%;
    height: 330px;
    align-self: stretch
  }
  .style2 {
    background-color: #fff;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,.3);
    display: flex;
    margin-left: 86px;
    margin-top: 10px;
    width: 406px;
    height: 304px;
    flex-direction: column
  }
  .style9 {
    background-color: #212121;
    opacity: .8;
    margin-top: 58px;
    width: 109px;
    height: 70px;
    align-self: center
  }
  .style5,
  .style8 {
    color: rgba(33,33,33,.8);
    text-align: right;
    font-family: 'Open Sans',serif
  }
  .style8 {
    align-self: center;
    font-size: 1.4000000000000001em;
    font-weight: 700;
    margin-top: 29px;
    height: 16px
  }
  .style5 {
    font-size: 1em;
    font-weight: 600;
    margin-left: 93px;
    margin-top: 45px;
    height: 13px
  }
  .style4 {
    background-color: #212121;
    opacity: .8;
    margin-top: 10px;
    width: 227px;
    height: 3px;
    align-self: center
  }
  .style7 {
    color: rgba(42,42,42,.8);
    text-align: right;
    font-family: helvetica,serif;
    font-size: 1em;
    margin-left: 93px;
    margin-top: 13px;
    height: 13px
  }
  .style6 {
    background-color: #212121;
    opacity: .8;
    margin-top: 6px;
    width: 227px;
    height: 3px;
    align-self: center
  }
}